:root{
	--main-radious: 5px;
	--main-padding: 5px;
}

 
 /* log in css main start*/
body{
   margin: o;
   padding: 0;
   font-family: sans-serif;
   background-image: url(../../image/background3.jpg);
   background-size: cover;
   background-position: center;
   color: white;
 }
.signUp-form{
   width: 600px;
   height: auto;
   background-color: rgba(26, 124, 124, 0.514);
   box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
   padding: 20px;
   margin-top: 30px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;

}
.signUp-form h1{
   color: aqua;
   margin-bottom: 40px;
}

hr{
   width: 70%;
}

.inp-box{
  border-radius: 20px;
  padding: 15px;
  margin: 5px 0;
  width: 90%;
  border: 1px solid rgba(64, 172, 14, 0.829);
  outline: none;
  margin-bottom: 10px;
}
.inp-hover:focus{
   background-color: lightcyan;
}

button{
   color: rgb(244, 244, 245);
   width: 80%;
   padding: 10px;
   border-radius: 10px;
   font-size: 15px;
   margin: 15px;
   border: none;
   outline: none;
   cursor: pointer;
     
}

button:hover{
   background-color: #03c8ebf3;
   color: black;
   transition: 0.5s;
   font-weight: bold;
   font-size: 20px;
}
.signUp-button{
   background-color: rgba(12, 158, 216, 0.979);
}
a{
   text-decoration: none;
}
a:hover{
   background-color: #03c8ebf3;
   padding: 4px;
   border-radius: 10px;
   transition: 0.4s;
  }

img{
   margin-top: -50px;
   width: 80px;
}

.password{
  border-radius: 20px;
  padding: 12px;
  margin: 10px 0;
  margin-right: 3px;
  margin-left: 2px;
  width: 50%;
  border: 1px solid rgba(64, 172, 14, 0.829);
  outline: none;
}


.confirmation{
    border-radius: 20px;
    padding: 12px;
    margin: 10px 0;
    margin-left: 10px;
    margin-right: 0px;
    width: 50%;
    border: 1px solid rgba(64, 172, 14, 0.829);
    outline: none;
}

.passwordlable{
color: white;
font-size: 14px;
left: -18px;
top: -40px;

}
.confirmlabel{
color: white;
font-size: 14px;
left: 110px;
top: -70px;
}
a{
   text-decoration: none;
   color: #bd4825e0;
}

  hr{
   width: 70%;
}


@media only screen and (max-width: 450px){

   .signUp-form{
      width: 300px;
      background-color: rgba(51, 69, 105, 0.726);
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
      padding: 20px;
      margin: 6% auto 0;
      text-align: center;
   
   }
   
    }