*
{
margin:0px 0px;
}
.nav
{
display:flex;
align-items:center;
justify-content:space-around;

}
.nav ul
{
display:flex;
align-items:center;
justify-content:space-between;
}
.nav ul li
{
list-style-type:none;
margin-right:40px;
} 
.nav ul li a
{
text-decoration:none;
color:black;
font-size:16px;
}

.nav button
{
border:none;
padding:20px 20px;
background:black;
border-radius:30px;
}

.nav button a
{
color:white;
text-decoration:none;
}

.nav ul li::after
{
display:block;
content:' ';
width:0%;
height:3px;
background:black;
transition:width 500ms ease-in;
}
.nav ul li:hover ::after
{

display:block;
content:' ';
width:100%;
height:3px;
background:black;


}
.nav button:hover a
{
font-weight:bold;

}
.nav button:hover
{
cursor:pointer;
}

.cover{

background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url('image/cover2.1.jpg');
width:100%;
height:520px;
margin-left:0px ;
position:relative;
}
.cover h1
{
text-align:center;
padding-top:80px;
color:white;
font-size:40px;
//background-position:center;
}

form
{
background:transparent;
display:flex;
justify-content:space-between;
width:80%;
height:100px;
position:absolute;
top:60%;
left:10%;
box-sizing:border-size;
}
form label,p
{
font-weight:bold;
font-size:22px;
}
#form_in
{
//flex:1;
}
form input,select
{
background:black;
border:none;
border-radius:30px;
width:250px;
height:60px;
font-size:17px;
color:white;
}
form select option[disabled]
{
color:grey;
}
form img
{
width:60px;
padding:20px;
border-radius:50%;
}
form img:hover
{
cursor:pointer;
width:70px;

}

#outer
{
text-align:center;
font-family:'poppins',sans-serif;
padding:30px 0px;
}

.contain
{
width:100%;
display:grid;
grid-template-columns:repeat(3,1fr);
grid-template-rows:200px 200px;
grid-row-gap:10px;
grid-column-gap:10px;
//margin-left:40px;
//margin-right:40px;
}
.in
{
position:relative;


}
.in img
{
border-radius:10px;
width:100%;
height:200px;
}
.span
{
position:absolute;
top:0;
left:0;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
width:100%;
height:100%;
opacity:0;
border-radius:10px;
}
.in:hover .span
{
opacity:1;
}
.span h1
{
position:absolute;
top:40%;
left:40%;
color:white;
}
.span p
{
position:absolute;
top:70%;
left:40%;
color:white;
}



.footer
{
display:flex;
justify-content:center;
align-items:center;
background:rgba(0,0,0,0.8);
height:200px;
padding-top:10px;
padding-bottom:10px;
margin:3px 0px;
color:white;
}
.footer ul li
{
list-style-type:none;
}
