@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=PT+Sans&display=swap');



*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    overflow-x:hidden; 
    
}
a{
    text-decoration: none;
    color:#2f3640;
}
li{
    list-style-type:none;
}

nav{
    position:sticky; 
    top:0;
    display:flex;
    z-index:20;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(10, 29, 12, 0.822);
    height:8vh;
    width:100vw;
    transition: all .8s ease-in-out;
    font-family: 'Oxygen', sans-serif;
    
}

.navadd{
    
    flex-direction: column;
    height:15vh;
    background-color: rgb(47, 49, 47);
   /*  background-image: url('../image/idea2/geran-de-klerk-qzgN45hseN0-unsplash.jpg'); */
    background-size: cover;
    background-position: center;
    transition: all ease-in .5s;
    
}

.logo{
   font-size: 1.6rem;
   color:rgb(255, 255, 255);
   font-weight: bold;
   
}
.marginauto{
    margin:auto;
}
.nav-links{
    
    display: flex;
    justify-content: space-around;
    width:40%;
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    text-transform:uppercase;
    transition: all ease-in 1s;
    color:rgb(255, 255, 255);
}
.nav-image{
    position: relative;
    width:100vw;
    height:10vh;
    background-image: url('../image/places/1266827.jpg');
    background-size: cover;
    background-position: center;
   
}
.nav-image2{
    height: 100vh;
    background-image: url('../image/Hotels/hotelBackground.jpg');
}
.front-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    
}

.front-header>h1{
    padding-left: rem;
    
    font-size: 5rem;
    color:rgb(255, 255, 255);
    line-height: 4.5rem;
    letter-spacing: 1rem;
    /*  */
    animation: heading 1s ease-in;
    font-family: 'Oxygen', sans-serif;
}
.front-header>h2{
   
    color:rgb(211, 211, 211);
    font-family: 'Oxygen', sans-serif;
    /* display:flex; */
}
.side-bar{
    position:fixed; 
    top:40%;
    width:3vw;
    margin: 10px;
    padding:5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(58, 58, 58);
    border-radius: 3px;
    opacity: 0.3;
    z-index:50;
    animation: frontface 3s ease-in-out;
}
.side-bar i{
    color:aqua;
}
.side-bar:hover{
    opacity:1;
    transition: all ease-in-out 0.3s;
}
.side-bar i:hover{
    color:white;
    transition: ease-in-out 0.3s;
    font-size: 1.8rem;
}


.social{
    padding:1rem;
    
}
.fab{
    margin:10px;
}
.burger{
    display: none;
}
.burger div{
    width:25px;
    height: 3px;
    background-color: rgb(233, 233, 233);
    margin:5px;
    
}


.card{
    margin:1rem;
    background-color: #ffffff;
    padding:1rem;
    width:20rem;
    height:40rem;
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
    display:flex;
    flex-direction: column;
    /* align-items:flex-start */;
    
}
.card h2{
    margin:0.8rem 0;
    font-size: 1.5rem;
    font-family: 'Oxygen','sans-serif';
    font-weight: 600;
    color:#2f3640;
}

.card:hover{
    transform:scale(1.03);
    transition:0.4s ease-in-out all;
    cursor: pointer;
    color:rgb(26, 26, 26);
    background-color: rgb(238, 255, 245);
}
.card-image{

    height:100%;
    margin-bottom:0.8rem;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
}
.card-image:hover{
    align-items: center;
    width:500px;
    transition: .4s ease-in-out all;
    

}
.card-contain{
    display: flex;
    flex-direction: row;
    padding:1rem;
    justify-content: space-around;
}
.card button{
    margin:1rem 0;
    /* margin-left:4.5rem; */
    width:9rem;
    height: 3rem;
    border-radius: rem;
    border:0;
    background-color: rgb(5, 167, 54);
    transition: ease-in 0.4s;
    align-self: center;
}
.card button:hover{
    background-color: rgb(16, 185, 67);
    width:10rem;
    height:3.2rem;
}
.card p{
    font-family: 'Poppins', sans-serif;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
    color:#5f5f5f;
}
.card button a{
    color:rgb(255, 255, 255);
    
    font-size:1rem;
}

.card-1{
    background-image: url('../image/10-Ras-Dashen-Simien-Mountains-Ethiopia-monkey.jpg');
}

.trending{
    margin:2rem;
    width:70vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 223, 215);
    border-radius: 1rem;
}
.trending h1{
    position:sticky;
    top:9vh;
    margin:40px;
    font-size: 2rem;
    font-family: 'Oxygen', sans-serif;
    background-color: #fff;
    padding:10px;
    width:20rem;
    display:inline;
    border-radius: 0.7rem;
}






.main {
    display:flex;
    flex-direction: row;
   /*  background-color: red; */
    flex-wrap:nowrap;
    flex-grow: 0;
    flex-shrink: 10;
}
.advert{
    background-color: rgb(187, 187, 187);
    margin-top: 9.9rem;
    padding:3rem;
    flex-grow:1;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:2rem 1rem 2rem 0;
    border-radius: 10px;
}



.spacer{
    height: 90vh;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation:frontface 1s ease-in;
    position: sticky;
    
}
.wave{
    background-image: url('../image/places/1266827.jpg');
   ;
}



.search-box{
    position: sticky;
    
    left: 90%; 
    transform: translate(-50%,50%);
    background: rgba(253, 253, 253, 0);
    height: 40px;
    border-radius: 40px;
    padding:10px;

    
}
.search-box:hover > .search-txt{
    width:240px;
    padding:0 6px;
    height: 40px;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    padding:10px;
}
.search-btn{
    color:rgb(255, 255, 255);
    float:right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:#2f3640;
    display:flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border:none;
    background:none;
    outline:none;
    float:left;
    padding: 0;
    color:rgb(44, 44, 44);
    font-size: 16px;
    transition: 0.4s ease-in;
    line-height: 40px;
    width: 0px;
}



#illhead{
    font-size: 3.5rem;
}
.greycard{
    width:5rem;
    height:4rem;
    color:red;
    z-index: 1;
}

@keyframes frontface{
    from{
        opacity:0;

    }
    to{
        opacity: 1;
    }
}
@keyframes heading {
    from{
        transform: translateY(20%);
    }
    to{
        
    }
    
}

@keyframes sidepop{
    from{
        transform: translateX(-100);
    }
    to{
        transform: translateX(0);
    }
}

.company-history{
    display: flex;
    flex-direction: column;
    background-color:#dfdfdf ;
    height:30rem;
    margin:1rem 3rem;
}
.history-header{
    align-self: center;
    margin:1rem;
    font-size: 1.5rem;
    font-family: "oxygen";
    color:#161816;
}
.history-content p{
    line-height: 1.8rem;
    letter-spacing: .1em;
    font-family: "oxygen";
    font-weight: 100;
    color:#2f3640;
    
}

.history-content{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:5rem;
    overflow: hidden;

}
.rightcont{
    margin:0 4em 0 0;
    text-align: start;
}

.peopleratings{
    width:90vw;
    
    box-shadow: 1px 1px 10px #2f3640;
    margin: auto;
    display:flex;
   /*  flex-direction: column; */
    /* justify-content:space-around; */


}
.peopleimg{
    width:10rem;
    height:10rem;
    border-radius: 2rem;
    background-color:red;
    align-self: center;
    background-image: url('../image/people/girl.jpg');
    background-position: center;
    background-size: cover;
}
.qoutes{
    width:50%;
    background-color:rgb(244, 255, 244);
    align-self: center;
    box-shadow:1px 1px 7px #afafaf;
    padding:1.8rem;
    margin:2rem;
    font-size: .9rem;
    letter-spacing: .1rem;
    font-family: "oxygen";
    text-overflow: clip;
    overflow: hidden;
}
.qoutes h4{
    font-size: 1.3rem;
    margin:.4rem
}

.containtestimonials{
    display:flex;
    margin-left: 3rem;
   /*  flex-direction: column; */
    /* justify-content:right; */

}
.containtestimonials2{
    display:flex;
   /*  flex-direction: column; */
    /* justify-content:left; */
    margin-left: 3rem;
}
.testimonials h1{
    text-align: center;
    margin: 3rem;
    font-size: 3rem;
    font-weight: bold;
    color:rgb(56, 56, 56);
    line-height: 4.5rem;
    font-family: "oxygen";
}
.testimonials{
    background-image: url('../image/194.jpg');
    background-size: contain;
    background-position: center;
}

.custom-shape-divider-bottom-1645287241 {
    /* position: absolute; */
   /*  bottom: 0;
    left: 0; */
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645287241 svg {
    /* position: relative; */
    display: block;
    width: calc(118% + 1.3px);
    height: 81px;
}

.custom-shape-divider-bottom-1645287241 .shape-fill {
    fill: #dfdfdf;
}









.Footer-container{
    position: sticky;
    display: flex;
    justify-content: space-around;
    padding:3rem;
    width:100vw;
    height:20vh;
    color:rgb(51, 51, 51);
    font-family: 'Oxygen', sans-serif;
    background-image: url('../image/svgs/side\ green\ and\ yello.svg');
}


@media screen and (max-width:760px) {
    .burger{
        display: block;
    }
    .body{
        overflow-x: hidden;
    }
    nav{
        height: 12vh;
    }
    .nav-links{
        position: absolute;
        display:flex;
        flex-direction: column;
        right:0px;
        top:12vh;
        align-items:center;
        width:35%;
        background-color:rgb(141, 140, 140);
        height:100vh;
        transform:translateX(100%);
        transition: transform ease-in-out .4s ;
        z-index: 1;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-active{
        transform:translateX(0%);
        
    }
    .navadd{
        flex-direction: row;
    }
    .trending h1{
        text-align: left;
        font-size: 1.3rem;
    }
    .galleryContainer{
        display:none;
    }
    .front-header>h1{
        font-size: 2rem;
        padding-left: 9rem;
        padding-top: 9rem;
        color: #fff;
        background-color: rgb(83, 83, 83,.8);
    }

    .history-header{
        
        margin:1rem;
        font-size: .8rem;
        font-family: "oxygen";
        color:#161816;
    }
    .containtestimonials{
        display:flex;
        margin-left: 3rem;
        flex-direction: column;
        justify-content:right;
    
    }
    .containtestimonials2{
        display:flex;
        flex-direction: column;
        justify-content:left;
        margin-left: 3rem;
    }
    .testimonials h1{
        font-size: 1.8rem;
    }
    .peopleimg{
        width:6rem;
        height:6rem;
        
    }
    .qoutes{
        width:80%;
        
    }
    .qoutes h4{
        font-size: 1.3rem;
        margin:.4rem
    }
    .peopleratings{
        
        flex-direction: column;
        justify-content:space-around;
    
    
    }
    
    @keyframes navLinkFade {
        from{
            opacity:0;
            transform:translateX(50px);
        }
    
        to{
            opacity:1;
            transform:translateX(0px);
        }
        
    }
    .card-contain{
        flex-direction: column;
    }
    .containtestimonials,.containtestimonials2{
        flex-direction: column;
    }
    

    

}

