body
{
    background-image: url("resource/images/back.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height:100%;
}
html
{
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
    width:100%;
  }  
#Main
{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.DivLogo
{
    padding-top: 5px;
    padding-left: 14px;
    padding-bottom: 5px;
    image-orientation:left;   
    top: 0;
    clear:right;
}
.DivSecond
{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.DivSearch
{
    display:inline-block;
   
    padding-left:20%;
}

.unorderList
{
    list-style-type: none;
    margin:0;
    
    display:flex;
    float:right;
    background-color: white;
}
.list:hover
{
    background-color: green;
    color:white;

}
.list
{
    text-decoration:none;
    font-size:150%;

    padding:0 15px 15px 15px;
    position:relative;
    padding-bottom: 0px;
    display:inline-block;
    color:black;
    transform:rotate(0deg);
    animation-name:navBar;
    animation-duration:1s;
    animation-play-state: paused;
    animation-direction:normal;
    animation-iteration-count:1;
}
.list:hover
{
    animation-play-state:running;
    animation-delay: none;
}
@keyframes navBar 
{
    from{
        transform: navBar;
    }
    to
    {
        transform:rotate(360deg)
    }
}
.item
{
    height:40%;
    width:100%;
    image-orientation:center;  
}
#welcome {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: hsl(175, 91%, 49%);
    color: white;
    border: 0 solid #12f1d4;
    border-radius: 50px;
  
}
#welcome p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -webkit-text-size-adjust: 20%;
    animation-duration: 4s;
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    -moz-animation: bouncing-text 5s linear infinite alternate;
    -webkit-animation: bouncing-text 5s linear infinite alternate;
    animation: bouncing-text 10s linear infinite alternate;
}

@-moz-keyframes bouncing-text {
    0% {
        -moz-transform: translateX(50%);
        background-color: #000280;
    }
    100% {
        -moz-transform: translateX(-50%);
        background-color: #ff0000;
    }
}

@-webkit-keyframes bouncing-text {
    0% {
        -webkit-transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(-50%);
    }
}

@keyframes bouncing-text 
{
    0% {
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        color:green;
        font-size: 20px;
    }
  25%  
  {
      color: yellow;
      font-size:30px;
  }
  50%  
  {
      color: red;
      font-size:40px;
  }
    100% 
    {
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        color:blue;
        font-size: 50px;
    }
}
:root
{
	--background-dark: #2d3548;
	--text-light: rgba(255,255,255,0.6);
	--text-lighter: rgba(255,255,255,0.9);
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;
	--width-container: 1200px;
  }
  
  *{
	border: 0;
	margin: 0;
	padding: 5px;
	box-sizing: border-box;
  }

  .hero-section
  {
	align-items: flex-start;
	background-image: url('resource/images/pexels-rafael-guajardo-604684.jpg');
	display: flex;
	min-height: 100%;
	justify-content: center;
	padding: var(--spacing-xxl) var(--spacing-l);
  }
  #hed
  {
      color:white;
      text-align: center;
      position: relative;
  }
 
  
  .card-grid
  {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: var(--spacing-l);
	grid-row-gap: var(--spacing-l);
	max-width: var(--width-container);
	width: 100%;
  }
  
  @media(min-width: 540px)
  {
	.card-grid{
	  grid-template-columns: repeat(2, 1fr); 
	}
  }
  
  @media(min-width: 960px)
  {
	.card-grid{
	  grid-template-columns: repeat(4, 1fr); 
	}
  }
  
  .card
  {
	list-style: none;
	position: relative;
  }
  
  .card:before
  {
	content: '';
	display: block;
	padding-bottom: 150%;
	width: 100%;
  }
  
  .card__background
  {
	background-size: cover;
	background-position: center;
	border-radius: var(--spacing-l);
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	trsnsform: scale(1) translateZ(0);
	transition: 
	  filter 200ms linear,
	  transform 200ms linear;
  }
  
  .card:hover .card__background
  {
	transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
	filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content
  {
	left: 0;
	padding: var(--spacing-l);
	position: absolute;
	top: 0;
  }
  
  .card__category
  {
	color: var(--text-light);
	font-size: 0.9rem;
	margin-bottom: var(--spacing-s);
	text-transform: uppercase;
  }
  
  .card__heading
  {
	color: var(--text-lighter);
	font-size: 1.9rem;
	text-shadow: 2px 2px 20px rgba(243, 241, 241, 0.2);
	line-height: 1.4;
	word-spacing: 100vw;
  }